.img-nav {
	width: 80px;
	height: 40px;
}

.azul-omni{
 color: #072f77;
}

.laranja-omni {
	color: #EA6620;
}

.bg-azul-omni{
 color: white;
 background-color: #072f77;
}

.bg-laranja-omni {
	color: white;
	background-color: #EA6620;
}

.btn-azul-omni{
 color: white;
 background-color: #072f77;
 border-color: #072f77;
}

.btn-azul-omni:hover{
 background-color: #103982 ;
 border-color: #103982 ;
 color: white;
}

.btn-laranja-omni {
	color: white;
	background-color: #EA6620;
	border-color: #EA6620 ;
}

.btn-laranja-omni:hover {
	background-color: #ff772e ;
	border-color: #ff772e ;
	color: white;
}

.btn-busca {
	border-color: #EA6620;
	color: #EA6620;
}

.btn-busca:hover {
	border-color: #EA6620;
	background-color: #EA6620;
}

.login {
	margin: 0 auto;
	width: 500px;
	background-color: #b5e6f7;
}

.form-erro {
	color: red;
}

.tamanho-tabela {
	margin: 0 auto;
	min-width: 200px;
	width: 700px;
}

.btn-excluir {
	border: 2px solid transparent;
	cursor: pointer;
}

.numero {
	font-weight: bold;
}

.icone-criar {
	margin: 30px 0 10px 710px;
	color: #ff9258;
	cursor: pointer;
}

.icone-criar:hover {
	transition: 400ms;
	color: #EA6620;
}

svg {
	font-size: 2.5em;
}

.esconder {
	display: none;
}

.btn-criar-fimTabela {
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.tamanho-tabela {
		width: 500px;
	}

	.icone-criar {
		text-align: center;
		margin: 15px 0 7px 507px;
	}

	svg {
		font-size: 2em;
	}
}

@media screen and (max-width: 575px) {
	.tamanho-tabela {
		width: 300px;
	}
	.icone-criar {
		text-align: center;
		margin: 10px 0 3px 305px;
	}

	svg {
		font-size: 1.5em;
	}
}